Booking/Connected Services/BookingServiceReference/BookingService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetCustomers">
        <s:complexType />
      </s:element>
      <s:element name="GetCustomersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCustomersResult" type="tns:TaskOfListOfCustomer" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="TaskOfListOfCustomer">
        <s:complexContent mixed="false">
          <s:extension base="tns:Task">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Result" type="tns:ArrayOfCustomer" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="Task" />
      <s:complexType name="ArrayOfCustomer">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Customer" nillable="true" type="tns:Customer" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Customer">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="CustomerID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="FirstName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LastName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IdNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetCustomer">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="customerID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCustomerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCustomerResult" type="tns:TaskOfListOfCustomer" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveCustomer">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="customer" type="tns:Customer" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveCustomerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SaveCustomerResult" type="tns:TaskOfListOfInt32" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="TaskOfListOfInt32">
        <s:complexContent mixed="false">
          <s:extension base="tns:Task">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Result" type="tns:ArrayOfInt" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ArrayOfInt">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="int" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="DeleteCustomer">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="customerID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteCustomerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DeleteCustomerResult" type="tns:Task" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRooms">
        <s:complexType />
      </s:element>
      <s:element name="GetRoomsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetRoomsResult" type="tns:TaskOfListOfRoom" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="TaskOfListOfRoom">
        <s:complexContent mixed="false">
          <s:extension base="tns:Task">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Result" type="tns:ArrayOfRoom" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ArrayOfRoom">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Room" nillable="true" type="tns:Room" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Room">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="RoomID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="RoomNo" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Beds" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Price" type="s:decimal" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetRoom">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="roomID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRoomResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetRoomResult" type="tns:TaskOfListOfRoom" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFreeRooms">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="startDate" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="endDate" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFreeRoomsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetFreeRoomsResult" type="tns:TaskOfListOfRoom" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveRoom">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="room" type="tns:Room" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveRoomResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SaveRoomResult" type="tns:TaskOfListOfInt32" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteRoom">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="roomID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteRoomResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DeleteRoomResult" type="tns:Task" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBookings">
        <s:complexType />
      </s:element>
      <s:element name="GetBookingsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetBookingsResult" type="tns:TaskOfListOfReservation" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="TaskOfListOfReservation">
        <s:complexContent mixed="false">
          <s:extension base="tns:Task">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Result" type="tns:ArrayOfReservation" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ArrayOfReservation">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Reservation" nillable="true" type="tns:Reservation" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Reservation">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ReservationID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CustomerID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="RoomID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ReservationStart" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="ReservationEnd" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetBookingsInPeriod">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="startDate" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="endDate" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBookingsInPeriodResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetBookingsInPeriodResult" type="tns:TaskOfListOfReservation" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBooking">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="bookingID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBookingResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetBookingResult" type="tns:TaskOfListOfReservation" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCustomerBookings">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="customerID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCustomerBookingsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCustomerBookingsResult" type="tns:TaskOfListOfReservation" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveBooking">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="booking" type="tns:Reservation" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveBookingResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SaveBookingResult" type="tns:TaskOfListOfInt32" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteBooking">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="bookingID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteBookingResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DeleteBookingResult" type="tns:Task" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetCustomersSoapIn">
    <wsdl:part name="parameters" element="tns:GetCustomers" />
  </wsdl:message>
  <wsdl:message name="GetCustomersSoapOut">
    <wsdl:part name="parameters" element="tns:GetCustomersResponse" />
  </wsdl:message>
  <wsdl:message name="GetCustomerSoapIn">
    <wsdl:part name="parameters" element="tns:GetCustomer" />
  </wsdl:message>
  <wsdl:message name="GetCustomerSoapOut">
    <wsdl:part name="parameters" element="tns:GetCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="SaveCustomerSoapIn">
    <wsdl:part name="parameters" element="tns:SaveCustomer" />
  </wsdl:message>
  <wsdl:message name="SaveCustomerSoapOut">
    <wsdl:part name="parameters" element="tns:SaveCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteCustomerSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteCustomer" />
  </wsdl:message>
  <wsdl:message name="DeleteCustomerSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="GetRoomsSoapIn">
    <wsdl:part name="parameters" element="tns:GetRooms" />
  </wsdl:message>
  <wsdl:message name="GetRoomsSoapOut">
    <wsdl:part name="parameters" element="tns:GetRoomsResponse" />
  </wsdl:message>
  <wsdl:message name="GetRoomSoapIn">
    <wsdl:part name="parameters" element="tns:GetRoom" />
  </wsdl:message>
  <wsdl:message name="GetRoomSoapOut">
    <wsdl:part name="parameters" element="tns:GetRoomResponse" />
  </wsdl:message>
  <wsdl:message name="GetFreeRoomsSoapIn">
    <wsdl:part name="parameters" element="tns:GetFreeRooms" />
  </wsdl:message>
  <wsdl:message name="GetFreeRoomsSoapOut">
    <wsdl:part name="parameters" element="tns:GetFreeRoomsResponse" />
  </wsdl:message>
  <wsdl:message name="SaveRoomSoapIn">
    <wsdl:part name="parameters" element="tns:SaveRoom" />
  </wsdl:message>
  <wsdl:message name="SaveRoomSoapOut">
    <wsdl:part name="parameters" element="tns:SaveRoomResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteRoomSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteRoom" />
  </wsdl:message>
  <wsdl:message name="DeleteRoomSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteRoomResponse" />
  </wsdl:message>
  <wsdl:message name="GetBookingsSoapIn">
    <wsdl:part name="parameters" element="tns:GetBookings" />
  </wsdl:message>
  <wsdl:message name="GetBookingsSoapOut">
    <wsdl:part name="parameters" element="tns:GetBookingsResponse" />
  </wsdl:message>
  <wsdl:message name="GetBookingsInPeriodSoapIn">
    <wsdl:part name="parameters" element="tns:GetBookingsInPeriod" />
  </wsdl:message>
  <wsdl:message name="GetBookingsInPeriodSoapOut">
    <wsdl:part name="parameters" element="tns:GetBookingsInPeriodResponse" />
  </wsdl:message>
  <wsdl:message name="GetBookingSoapIn">
    <wsdl:part name="parameters" element="tns:GetBooking" />
  </wsdl:message>
  <wsdl:message name="GetBookingSoapOut">
    <wsdl:part name="parameters" element="tns:GetBookingResponse" />
  </wsdl:message>
  <wsdl:message name="GetCustomerBookingsSoapIn">
    <wsdl:part name="parameters" element="tns:GetCustomerBookings" />
  </wsdl:message>
  <wsdl:message name="GetCustomerBookingsSoapOut">
    <wsdl:part name="parameters" element="tns:GetCustomerBookingsResponse" />
  </wsdl:message>
  <wsdl:message name="SaveBookingSoapIn">
    <wsdl:part name="parameters" element="tns:SaveBooking" />
  </wsdl:message>
  <wsdl:message name="SaveBookingSoapOut">
    <wsdl:part name="parameters" element="tns:SaveBookingResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteBookingSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteBooking" />
  </wsdl:message>
  <wsdl:message name="DeleteBookingSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteBookingResponse" />
  </wsdl:message>
  <wsdl:portType name="BookingServiceSoap">
    <wsdl:operation name="GetCustomers">
      <wsdl:input message="tns:GetCustomersSoapIn" />
      <wsdl:output message="tns:GetCustomersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCustomer">
      <wsdl:input message="tns:GetCustomerSoapIn" />
      <wsdl:output message="tns:GetCustomerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SaveCustomer">
      <wsdl:input message="tns:SaveCustomerSoapIn" />
      <wsdl:output message="tns:SaveCustomerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteCustomer">
      <wsdl:input message="tns:DeleteCustomerSoapIn" />
      <wsdl:output message="tns:DeleteCustomerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetRooms">
      <wsdl:input message="tns:GetRoomsSoapIn" />
      <wsdl:output message="tns:GetRoomsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetRoom">
      <wsdl:input message="tns:GetRoomSoapIn" />
      <wsdl:output message="tns:GetRoomSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFreeRooms">
      <wsdl:input message="tns:GetFreeRoomsSoapIn" />
      <wsdl:output message="tns:GetFreeRoomsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SaveRoom">
      <wsdl:input message="tns:SaveRoomSoapIn" />
      <wsdl:output message="tns:SaveRoomSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteRoom">
      <wsdl:input message="tns:DeleteRoomSoapIn" />
      <wsdl:output message="tns:DeleteRoomSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetBookings">
      <wsdl:input message="tns:GetBookingsSoapIn" />
      <wsdl:output message="tns:GetBookingsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetBookingsInPeriod">
      <wsdl:input message="tns:GetBookingsInPeriodSoapIn" />
      <wsdl:output message="tns:GetBookingsInPeriodSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetBooking">
      <wsdl:input message="tns:GetBookingSoapIn" />
      <wsdl:output message="tns:GetBookingSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCustomerBookings">
      <wsdl:input message="tns:GetCustomerBookingsSoapIn" />
      <wsdl:output message="tns:GetCustomerBookingsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SaveBooking">
      <wsdl:input message="tns:SaveBookingSoapIn" />
      <wsdl:output message="tns:SaveBookingSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteBooking">
      <wsdl:input message="tns:DeleteBookingSoapIn" />
      <wsdl:output message="tns:DeleteBookingSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BookingServiceSoap" type="tns:BookingServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCustomers">
      <soap:operation soapAction="http://tempuri.org/GetCustomers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCustomer">
      <soap:operation soapAction="http://tempuri.org/GetCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveCustomer">
      <soap:operation soapAction="http://tempuri.org/SaveCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteCustomer">
      <soap:operation soapAction="http://tempuri.org/DeleteCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRooms">
      <soap:operation soapAction="http://tempuri.org/GetRooms" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRoom">
      <soap:operation soapAction="http://tempuri.org/GetRoom" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFreeRooms">
      <soap:operation soapAction="http://tempuri.org/GetFreeRooms" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveRoom">
      <soap:operation soapAction="http://tempuri.org/SaveRoom" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteRoom">
      <soap:operation soapAction="http://tempuri.org/DeleteRoom" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBookings">
      <soap:operation soapAction="http://tempuri.org/GetBookings" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBookingsInPeriod">
      <soap:operation soapAction="http://tempuri.org/GetBookingsInPeriod" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBooking">
      <soap:operation soapAction="http://tempuri.org/GetBooking" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCustomerBookings">
      <soap:operation soapAction="http://tempuri.org/GetCustomerBookings" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveBooking">
      <soap:operation soapAction="http://tempuri.org/SaveBooking" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteBooking">
      <soap:operation soapAction="http://tempuri.org/DeleteBooking" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BookingServiceSoap12" type="tns:BookingServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCustomers">
      <soap12:operation soapAction="http://tempuri.org/GetCustomers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCustomer">
      <soap12:operation soapAction="http://tempuri.org/GetCustomer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveCustomer">
      <soap12:operation soapAction="http://tempuri.org/SaveCustomer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteCustomer">
      <soap12:operation soapAction="http://tempuri.org/DeleteCustomer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRooms">
      <soap12:operation soapAction="http://tempuri.org/GetRooms" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRoom">
      <soap12:operation soapAction="http://tempuri.org/GetRoom" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFreeRooms">
      <soap12:operation soapAction="http://tempuri.org/GetFreeRooms" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveRoom">
      <soap12:operation soapAction="http://tempuri.org/SaveRoom" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteRoom">
      <soap12:operation soapAction="http://tempuri.org/DeleteRoom" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBookings">
      <soap12:operation soapAction="http://tempuri.org/GetBookings" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBookingsInPeriod">
      <soap12:operation soapAction="http://tempuri.org/GetBookingsInPeriod" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBooking">
      <soap12:operation soapAction="http://tempuri.org/GetBooking" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCustomerBookings">
      <soap12:operation soapAction="http://tempuri.org/GetCustomerBookings" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveBooking">
      <soap12:operation soapAction="http://tempuri.org/SaveBooking" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteBooking">
      <soap12:operation soapAction="http://tempuri.org/DeleteBooking" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BookingService">
    <wsdl:port name="BookingServiceSoap" binding="tns:BookingServiceSoap">
      <soap:address location="https://localhost:44306/BookingService.asmx" />
    </wsdl:port>
    <wsdl:port name="BookingServiceSoap12" binding="tns:BookingServiceSoap12">
      <soap12:address location="https://localhost:44306/BookingService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>